.projects-section {
    width: 100%;
    min-height: 100vh;
}

.projects-section-title {
    margin-left: 10%;
}

.projects-content {
    margin: 4% 10% 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}


@media (max-width: 768px) {
    .projects-section {
        padding: 2rem 1rem;
    }

    .projects-section-title {
        margin-left: 0;
        text-align: center;
    }

    .projects-content {
        grid-template-columns: 1fr;
        margin: 2rem 0 0;
        gap: 2rem;
    }
}
