.skills-section {
    width: 100%;
    height: 80vh;
}

.skills-section-title {
    margin-left: 10%;
}

.skills-content {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
}

.sidebar {
    width: 16%;
    margin-right: 3%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 0.2rem;
    cursor: pointer;
    opacity: 0.7;
    transition: color 0.3s, opacity 0.3s;
}

.sidebar li.active {
    color: var(--text-highlight);
    opacity: 1;
    border-left: 2px solid var(--text-highlight);
    padding-left: 6px;
    background-color: #454764;
}

.sidebar li:hover {
    opacity: 1;
}

.skills-container {
    flex: 1;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.skills-container.change {
    opacity: 0;
    transform: translateY(10px);
}

.skills-container h1 {
    margin-bottom: 1rem;
}

.skills-container img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 1rem;
}

.skills-container p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    opacity: 0.85;
}

#skills-tec {
    color: #687080;
}

#skills-description {
    white-space: pre-line;
}

.skills-buttons {
    display: flex;
    gap: 1rem;
}

.skills-btn {
  background: #fff;
  color: #000;
  padding: 0.7rem 1.3rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-btn:hover {
    background-color: #d5d5d5;
    cursor: pointer;
}