/* CARDS PROJETOS */
.projects-card {
    width: 100%;
    background: #383c46;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content {
    width: 100%;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-content img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 4px;
}

.card-content h1 {
    font-size: 1.3rem;
    margin-top: 0.8rem;
}

.card-content p {
    color: #B08035;
    margin: 0.3rem 0 0.8rem;
}

.info-card-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.btns-card-area {
    display: flex;
    gap: 0.75rem;
    color: #383c46;
}

.btns-card-area a {
    width: 100%;
}

.btns-card-area i {
    color: #383c46;
}

.btn-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    transition: 0.3s;
    color: #383c46;
}

.btn-card:hover {
    background-color: #d5d5d5;
    cursor: pointer;
}

@media (max-width: 768px) {
    .card-content h1 {
        font-size: 1.1rem;
        text-align: center;
    }

    .card-content p {
        text-align: center;
        font-size: 0.9rem;
    }

    .btns-card-area {
        flex-direction: column;
    }
}


/* CARDS PROJETOS */